/Exercise0/nbproject/private/
/Exercise0/build/
/Exercise0/dist/
/Exercises/nbproject/private/
/Exercises/build/
/Exercises/dist/
/MultiThreading/nbproject/private/
/MultiThreading/dist/
/MultiThreading/build/
/JavaApp/nbproject/private/
/JavaApp/dist/
/JavaApp/build/
/JavaApp1/nbproject/private/
/JavaApp1/build/
/JavaApp2/nbproject/private/
/JavaApp2/build/
/JavaApp3/nbproject/private/
/JavaApp3/build/
/JavaApp4/nbproject/private/
/JavaApp4/build/
/JavaApp5/nbproject/private/
/JavaApp5/build/
/JavaApp6/nbproject/private/
/JavaApp6/build/
/JavaApp7/nbproject/private/
/JavaApp7/build/
/JavaApp8/nbproject/private/
/JavaApp8/build/
/JavaApp9/nbproject/private/
/JavaApp9/build/
/JavaApp9/dist/